* {
    padding: 0px;
    margin: 0px;
}

/* --------additional customised css------ */
.disflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.discol {
    flex-direction: column;
}


/* -----------Body and Html Code-------- */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(231, 229, 229, 0.774);
}

/*--------- section form code ------------*/
.form1 {
    height: 100vh;
}

form {
    background-color: white;
    box-shadow: 0 10.36px 25.64px rgb(22 25 41 / 8%);
    padding: 2rem;
}


.head h5 {
    padding: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
.head h5 a{
    text-decoration: none;
    color: black;
}



/* -------saved Cards code--------- */
form h5:nth-child(3) {
    align-self: flex-start;
}

.card1 {
    display: flex;
    align-items: center;
    background-color: rgba(231, 229, 229, 0.685);
    justify-content: space-between;
    width: 40rem;
    padding: 0rem 0.3rem;
    border: 1px solid transparent;
    border-radius: 10px;
}

.card1 {
    margin: 0.5rem 0rem;
}

.card1 img {
    height: 2rem;
    cursor: pointer;
}

.card1 p:nth-child(1) {
    font-size: 0.8rem;
}

#remcard {
    font-size: 0.6rem;
    opacity: 50%;
    cursor: pointer;
}
#remcard:hover{
    opacity: 100% ;
}

#visa {
    padding-left: 0.5rem;
}

/* -------User details code------- */

#adduser {
    padding: 2rem 0rem 0.8rem 0rem;
    align-self: flex-start;
}



.carddetails {
    width: 101%;
    justify-content: space-between !important;
}

#username {
    width: 100%;
    margin-bottom: 0.7rem;
    background-color: rgba(231, 229, 229, 0.685);
    border: 1px solid transparent;
    padding: 0.3rem;
}

#cardno {
    width: 50%;
    background-color: rgba(231, 229, 229, 0.685);
    border: 1px solid transparent;
    
    padding: 0.3rem ;
}

#exp {
    width: 20%;
    background-color: rgba(231, 229, 229, 0.685);
    border: 1px solid transparent;
    padding: 0.3rem;
}

#Cvv {
    width: 20%;
    background-color: rgba(231, 229, 229, 0.685);
    border: 1px solid transparent;
    padding: 0.3rem;
}




/* ----------button code------ */
button {
    background-color: rgba(13, 187, 21, 0.945);
    border: 1px solid transparent;
    padding: 0.4rem;
    margin-top: 1rem;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s all ease-in;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid black
}
.white{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding-bottom: 2rem;
}
/* ------------------------------------------
--------------User detail code----------
------------------------------------------ */

.userdetails{
    position: absolute;
    display: none;
    transition: 0.4s all ease-in;
}

/* -------------user details form code------------- */

.userdetails form h3{
    padding-bottom: 1rem;
        
}

.paymentoption{
    display: flex;
}
.paymentoption h4{
    padding: 0rem 0.5rem;
    margin-bottom: 0.4rem;
}
.paymentoption h5{
cursor: pointer;
}

.paymentoption h5:nth-child(1)::after{
    content: "";
    display: block;
    position: relative;
    background-color: black;
    width: 3rem;
    height: 0.2rem;
    transition: 0.3s ease-in;
}
/* .paymentoption h5:nth-child(1)::after{
    width: 2rem !important;
    left: 4rem !important;
} */

.paytoggle{
    width: 2rem !important;
    left: 4rem !important;
}

.userdetails form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 10.36px 25.64px rgb(22 25 41 / 8%);
}
.userdetails form input{
    transition: 1s all ease-out;
    margin: 0.4rem 0rem;
    padding: 0.2rem 1rem;
}


/* -----icon code------- */
#cross{
    cursor: pointer;
    position: relative;
    top: -1.4rem;
    left: 7.4rem;
}

/* -------extra property classes----- */
.dis{
    display: block !important;
}
.opa30{
    opacity: 40% !important;
    transition: 0.5s all ease;
}